altair
anyio
argon2-cffi
beautifulsoup4
bleach
cachetools
certifi
charset-normalizer
click
dash
dash-bootstrap-components
Flask
jupyterlab
matplotlib-inline
numpy
pandas
plotly
requests
rich
scikit-learn
streamlit
tornado
urllib3
